<main>
  <h1>Pago cuota Sociedad</h1>
  <%= form_for @membership, :url => {:action => :payQuota}, :html => {:multipart => true} do |form| %>

      <br><div>

</div>
      <% @membership.errors.full_messages.each do |message| %>
          <div>
            * <%= message %>
          </div>
      <% end %>

      <div>
        <!--Datos scoico-->
        <table align="center">
          <tr>
            <td>

              Nombre del afiliado:

            </td>
            <td>
              <% @membership.clients.each do |client| %>
                  <p><%= client.nombre %> <%= client.apellido %></p>
              <% end %>
            </td>

          </tr>
          <tr>
            <td width="200">
              Documento: <% @membership.clients.each do |client| %>
                  <%= client.tipo_documento %> <%= client.documento %>
              <% end %>

            </td>

            <td >
             Correo electronico: <% @membership.clients.each do |client| %>
                  <%= client.email %>
              <% end %>
            </td>
          </tr><br>
          <br>
          </table>

  <hr>
      </div>
      <!--datos membresia-->
      <div>
        <table  width="600" >
          <tr>
            <td width="170">
              Tipo de sociedad afiliada:
            </td>
            <td align="left">
             <%= @membership.society.nombre %>
            </td>
            <td width="130">
              Fecha de afiliacion:
            </td>
            <td align="left">
              <%=@membership.fecha_afiliacion %>
            </td>

          </tr>
          </table><br>
        <table>

          <tr>
            <td width="200">
              Valor cuota: <%= @valor_pago  %>
            </td>
            <td width="260">Fecha periodo de pago:
              <%= @membership.fecha_cuota %>
            </td>
          </tr>

        </table><br>
      </div>
      <div>
      </div>
      <div>

        Forma de pago: <select name="formaDePago">
        <%= @formasDePago.each do |forma| %>
            <option value="<%= forma.id %>"><%= forma.nombre %></option>
        <% end %>
      </select>
        <input id="valor_recibido" name="valor_recibido" placeholder="Valor a recibido" type="number" min="1">
        <h5><%=  %></h5>
      </div>

      <div>
        <h5>Soporte de pago:</h5>
        <input id="soporte" name="soporte" type="file">

      </div><br>
      <div>
        <%= form.submit "Guardar" %>
      </div>

  <% end %>
</main>


