<p id="notice"><%= notice %></p>

<p>
  <strong>Feha:</strong>
  <%= @outflow.feha %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @outflow.concepto %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @outflow.nit %>
</p>

<p>
  <strong>Entidad:</strong>
  <%= @outflow.entidad %>
</p>

<p>
  <strong>Numero factura:</strong>
  <%= @outflow.numero_factura %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @outflow.valor %>
</p>

<%= link_to 'Edit', edit_outflow_path(@outflow) %> |
<%= link_to 'Back', outflows_path %>
