<main>
<h1 align="center" >Bienvenido al perfil de   <%= @user.username %></h1>
<div class="row">
    <div class align="center"="col-md-4 col-md-offset-4 center">
        <%= gravatar_for @user , size: 150 %>
    </div>
</div>
<div align="center">
    <%= will_paginate @user_societies %>
</div>
<h4 align="center">sociedades creadas por  <%= @user.username %> </h4>
<%= render 'societies/society', obj: @user_societies %>

<div align="center">
    <%= will_paginate @user_clients %>
</div>
<h4 align="center">clientes ingresados por <%= @user.username %> </h4>
<%= render 'clients/client', obj: @user_clients %>

<div align="center">
    <%= will_paginate @user_courses %>
</div>
<h4 align="center">cursos ingresados por <%= @user.username %> </h4>
<%= render 'courses/course', obj: @user_courses %>
<div align="center">
    <%= will_paginate @user_categories %>
</div>
<h4 align="center">categorias creadas por  <%= @user.username %> </h4>
<%= render 'categories/category', obj: @user_categories %>
</main>