<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field" align="center">
    <table>
      <tr>
      <td align="center"><%= f.label :valor_sesion %><%= f.text_field :valor_sesion %></td>
      <td align="center"> <%= f.label :valor_total %><%= f.text_field :valor_total %></td>
    </tr>
    </table>
  </div>



  <div class="field">
    <%= f.label :Categoria %>
    <%= f.select(:id_category_id, @category_options) %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar",  data: { confirm: 'Desea guardar cambios'} %>
  </div>
<% end %>
