<%= form_for(@discount) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :society_id %><br>
    <%= f.text_field :society_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :discount_porcentaje %><br>
    <%= f.number_field :discount_porcentaje %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar",  data: { confirm: 'Desea guardar cambios'}  %>
  </div>
<% end %>
